
.steps{
    td{
        padding: 0 10px;
        text-transform: uppercase;

    }
}
.list{
    text-transform: uppercase;
    font-weight: 400;

}
.statement{
    p{
        text-transform: uppercase;
    }
}